@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import "@prose-ui/style/prose-ui.css";
@import "@prose-ui/style/katex.css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme {
  --font-headline:"Manrope",ui-sans-serif, system-ui, sans-serif;
  --font-body:"Inter",ui-sans-serif, system-ui, sans-serif;
  --font-label:"Inter",ui-sans-serif, system-ui, sans-serif;
}

:root {
  --tertiary-fixed: #c8e6ff ;
              --inverse-primary: #ffb5a0 ;
              --error-container: #ffdad6 ;
            --surface-bright: #f9f9f8 ;
              --surface-container-high: #e8e8e7 ;
              --inverse-on-surface: #f1f1f0 ;
              --surface-dim: #dadad9 ;
              --on-secondary: #ffffff ;
              --on-primary-fixed: #3b0900 ;
              --surface-container-low: #f4f4f3 ;
              --inverse-surface: #2f3130 ;
              --surface-variant: #e2e2e2 ;
              --surface-tint: #b02f00 ;
              --on-primary-container: #541200 ;
              --secondary-container: #d7e4ec ;
              --background: #f9f9f8 ;
              --surface-container-lowest: #ffffff ;
              --on-primary: #ffffff ;
              --on-secondary-container: #5a666d ;
              --primary-fixed-dim: #ffb5a0 ;
              --on-tertiary-container: #fcfcff ;
              --on-tertiary-fixed: #001e2e ;
              --primary-container: #ff5722 ;
              --secondary: #546067 ;
              --surface-container-highest: #e2e2e2 ;
              --on-error-container: #93000a ;
              --on-secondary-fixed-variant: #3c494f ;
              --outline-variant: #e4beb4 ;
              --surface: #f9f9f8 ;
              --on-surface-variant: #5b4039 ;
              --error: #ba1a1a ;
              --on-error: #ffffff ;
              --secondary-fixed: #d7e4ec ;
              --secondary-fixed-dim: #bbc8d0 ;
              --primary-fixed: #ffdbd1 ;
              --on-secondary-fixed: #111d23 ;
              --surface-container: #eeeeed ;
              --tertiary: #00628c ;
              --on-tertiary: #ffffff ;
              --on-surface: #1a1c1c ;
            --tertiary-container: #007caf ;
              --tertiary-fixed-dim: #86cfff ;
              --on-background: #1a1c1c ;
              --outline: #907067 ;
              --primary: #b02f00 ;
              --on-tertiary-fixed-variant: #004c6d ;
              --on-primary-fixed-variant: #862200;
}

:root[data-theme="dark"] {
  --tertiary-fixed: #c8e6ff;
              --inverse-primary: #b02f00;
              --error-container: #93000a;
              --surface-bright: #383939;
              --surface-container-high: #282a2a;
              --inverse-on-surface: #2f3130;
              --surface-dim: #121414;
              --on-secondary: #263238;
              --on-primary-fixed: #3b0900;
              --surface-container-low: #1a1c1c;
              --inverse-surface: #e2e2e2;
              --surface-variant: #333535;
              --surface-tint: #ffb5a0;
              --on-primary-container: #541200;
              --secondary-container: #3c494f;
              --background: #121414;
              --surface-container-lowest: #0c0f0e;
              --on-primary: #5f1500;
              --on-secondary-container: #aab7bf;
              --primary-fixed-dim: #ffb5a0;
              --on-tertiary-container: #002d43;
              --on-tertiary-fixed: #001e2e;
              --primary-container: #ff5722;
              --secondary: #bbc8d0;
              --surface-container-highest: #333535;
              --on-error-container: #ffdad6;
              --on-secondary-fixed-variant: #3c494f;
              --outline-variant: #5b4039;
              --surface: #121414;
              --on-surface-variant: #e4beb4;
              --error: #ffb4ab;
              --on-error: #690005;
              --secondary-fixed: #d7e4ec;
              --secondary-fixed-dim: #bbc8d0;
              --primary-fixed: #ffdbd1;
              --on-secondary-fixed: #111d23;
              --surface-container: #1e2020;
              --tertiary: #86cfff;
              --on-tertiary: #00344c;
              --on-surface: #e2e2e2;
              --tertiary-container: #019ad8;
              --tertiary-fixed-dim: #86cfff;
              --on-background: #e2e2e2;
              --outline: #ab8980;
              --primary: #ffb5a0;
              --on-tertiary-fixed-variant: #004c6d;
              --on-primary-fixed-variant: #862200;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
   --tertiary-fixed: #c8e6ff ;
              --inverse-primary: #ffb5a0 ;
              --error-container: #ffdad6 ;
            --surface-bright: #f9f9f8 ;
              --surface-container-high: #e8e8e7 ;
              --inverse-on-surface: #f1f1f0 ;
              --surface-dim: #dadad9 ;
              --on-secondary: #ffffff ;
              --on-primary-fixed: #3b0900 ;
              --surface-container-low: #f4f4f3 ;
              --inverse-surface: #2f3130 ;
              --surface-variant: #e2e2e2 ;
              --surface-tint: #b02f00 ;
              --on-primary-container: #541200 ;
              --secondary-container: #d7e4ec ;
              --background: #f9f9f8 ;
              --surface-container-lowest: #ffffff ;
              --on-primary: #ffffff ;
              --on-secondary-container: #5a666d ;
              --primary-fixed-dim: #ffb5a0 ;
              --on-tertiary-container: #fcfcff ;
              --on-tertiary-fixed: #001e2e ;
              --primary-container: #ff5722 ;
              --secondary: #546067 ;
              --surface-container-highest: #e2e2e2 ;
              --on-error-container: #93000a ;
              --on-secondary-fixed-variant: #3c494f ;
              --outline-variant: #e4beb4 ;
              --surface: #f9f9f8 ;
              --on-surface-variant: #5b4039 ;
              --error: #ba1a1a ;
              --on-error: #ffffff ;
              --secondary-fixed: #d7e4ec ;
              --secondary-fixed-dim: #bbc8d0 ;
              --primary-fixed: #ffdbd1 ;
              --on-secondary-fixed: #111d23 ;
              --surface-container: #eeeeed ;
              --tertiary: #00628c ;
              --on-tertiary: #ffffff ;
              --on-surface: #1a1c1c ;
            --tertiary-container: #007caf ;
              --tertiary-fixed-dim: #86cfff ;
              --on-background: #1a1c1c ;
              --outline: #907067 ;
              --primary: #b02f00 ;
              --on-tertiary-fixed-variant: #004c6d ;
              --on-primary-fixed-variant: #862200;
  }
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  } */
}
.prose-ui{
  background-color: var(--surface);
  color: var(--on-surface);
  
}
.glass-card {
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
      }
      .bg-gradient-primary {
        background: linear-gradient(135deg, #b02f00 0%, #ff5722 100%);
      }